@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: hsl(210, 20%, 98.04%);
  --foreground: hsl(220.91, 39.29%, 10.98%);
  --muted: hsl(220, 13.04%, 90.98%);
  --muted-foreground: hsl(220, 8.94%, 46.08%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(220.91, 39.29%, 10.98%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(220.91, 39.29%, 10.98%);
  --border: hsl(220, 13.04%, 90.98%);
  --input: hsl(220, 13.04%, 90.98%);
  --primary: hsl(261.56, 53.33%, 47.06%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 100%);
  --secondary-foreground: hsl(220.91, 39.29%, 10.98%);
  --accent: hsl(220, 14.29%, 95.88%);
  --accent-foreground: hsl(220.91, 39.29%, 10.98%);
  --destructive: hsl(3.96, 72.8%, 50.98%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --ring: hsl(262.11, 53.27%, 79.02%);
  --chart-1: hsl(262.11, 53.27%, 79.02%);
  --chart-2: hsl(183.6, 84.27%, 34.9%);
  --chart-3: hsl(40.11, 80%, 54.9%);
  --chart-4: hsl(339.77, 74.78%, 54.9%);
  --chart-5: hsl(220.45, 70.08%, 50.2%);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: hsl(0, 0%, 1.96%);
  --foreground: hsl(0, 0%, 90.2%);
  --muted: hsl(156, 9%, 8%);
  --muted-foreground: hsl(0, 0%, 60%);
  --popover: hsl(0, 0%, 6.27%);
  --popover-foreground: hsl(0, 0%, 90.2%);
  --card: hsl(0, 0%, 9.8%);
  --card-foreground: hsl(0, 0%, 90.2%);
  --border: hsl(0, 0%, 13.73%);
  --input: hsl(0, 0%, 17.65%);
  --primary: hsl(258.05, 71.93%, 66.47%);
  --primary-foreground: hsl(0, 0%, 90.2%);
  --secondary: hsl(0, 0%, 0%);
  --secondary-foreground: hsl(0, 0%, 90.2%);
  --accent: hsl(0, 0%, 15.69%);
  --accent-foreground: hsl(0, 0%, 60%);
  --destructive: hsl(3.95, 72.93%, 44.9%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --ring: hsl(262.11, 53.27%, 79.02%);
  --chart-1: hsl(261.82, 54.1%, 88.04%);
  --chart-2: hsl(183.75, 45.28%, 58.43%);
  --chart-3: hsl(40.27, 76.84%, 62.75%);
  --chart-4: hsl(340, 73.06%, 62.16%);
  --chart-5: hsl(220.66, 71.03%, 58.04%);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
}


  